@import "tailwindcss";

@theme {
  --color-main: #b5dbdf
}

.hero-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://main.d1hiqvipguwtuq.amplifyapp.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-b.79c9c9cd.jpg&w=3840&q=75");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}